<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.

<div class="row-fluid">
  <ol>
    <li><b>A spreadsheet program</b>
      <br>For this workshop you will need a spreadsheet program. LibreOffice comes
      preinstalled with several Linux distributions. If you don't already have it, use
      your package manager to install it: (e.g., <code>sudo apt-get install
	libreoffice</code> for Ubuntu and other Debian-based distributions).
</ul>

<p>

<li><b>OpenRefine</b>
  <br>OpenRefine (previously Google Refine) is a tool for data cleaning that runs
  through a web browser, and any browser - Safari, Firefox, Chrome, Explorer -
  should work fine.  You will need to download Google Refine and install it, and
  when you open it, it will run through the browser, but you don't need an
  internet connection, and the data will all be stored on your computer.
  <ul>
    <li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download
	page</a>
    <li>Click on <i>Linux kit</i> to download the install file
    <li>Download and extract
    <li>Type <code>./refine</code> in your terminal and Google Refine will then
    open in your web browser.
    <li>If it doesn't open automatically, open a web broswer after you've started
      the program and go to the URL <code>http://localhost:3333</code> and you should
      see OpenRefine.
  </ul>

</ol>

</div>
